In [ ]:
"""

Project : Protein Methylation Classification using RBFNN
Course: Pattern Classification
Authors : Ragunath Anbarasu, Yujie Yao, Zixuan Liu 

"""

'\n\nProject : Protein Methylation Classification using RBFNN\nCourse: Pattern Classification\nAuthors : Ragunath Anbarasu, Yujie\xa0Yao, Zixuan\xa0Liu \n\n'

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import scipy.stats as stats
from sklearn.impute import SimpleImputer

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#original_df = pd.read_csv("/content/drive/MyDrive/pattern_classification/csv_result-Descriptors_Training.csv")
#original_df = pd.read_csv("/content/drive/MyDrive/pattern_classification/csv_result-Descriptors_Calibration.csv")
original_df = pd.read_csv("/content/drive/MyDrive/pattern_classification/Blind_Test_features.csv")

In [4]:
original_df.head

<bound method NDFrame.head of       IP_ES_25_N1  Z3_IB_4_N1  Z1_IB_10_N1  ...  Pb_NO_PCR_V  ECI_NO_PCR_CV  class
0            5.11       17.54         6.41  ...         0.01           0.52      P
1           -1.14       33.73         8.27  ...         0.02           0.65      P
2            4.79       32.81         5.82  ...         0.01           0.57      P
3            9.41       15.62        12.71  ...         0.02           0.62      P
4            5.29       14.09         7.46  ...         0.02           0.59      P
...           ...         ...          ...  ...          ...            ...    ...
5145         9.14       17.25        13.25  ...         0.02           0.55      P
5146         5.75       26.32        11.05  ...         0.02           0.61      P
5147         3.79       17.06        10.12  ...         0.02           0.63      P
5148        -1.89       11.41         9.19  ...         0.01           0.62      P
5149        14.41       27.74        12.21  ...         0.02           0.63      P

[5150 rows x 29 columns]>

In [158]:
print(original_df.shape)

(4996, 30)

In [142]:
original_df.describe(include='all').T

                    count unique  top  ...     50%      75%          max
id                  19988    NaN  NaN  ...  9994.5  14991.2        19988
IP_ES_25_N1         19988    NaN  NaN  ...    5.67     6.47        18.69
Z3_IB_4_N1          19988    NaN  NaN  ...   20.25    29.34       1275.3
Z1_IB_10_N1         19988    NaN  NaN  ...    9.23    11.45       333.33
Z1_IB_5_N1          19988    NaN  NaN  ...    9.29    11.47       333.33
Z3_IB_8_N1          19988    NaN  NaN  ...  19.865    28.85       340.08
ECI_IB_4_N1         19988    NaN  NaN  ...   45.05    78.27      2333.33
ECI_IB_5_N1         19988    NaN  NaN  ...   44.52    77.56      2333.33
Gs(U)_IB_12_N1      19988    NaN  NaN  ...    0.05     0.07         0.84
Gs(U)_IB_68_N1      19988    NaN  NaN  ...    0.05     0.07         0.84
Gs(U)_IB_58_N1      19988    NaN  NaN  ...    0.05     0.07         0.84
Gs(U)_IB_60_N1      19988    NaN  NaN  ...    0.05     0.07         0.84
Z1_NO_sideL35_M     19988    NaN  NaN  ...    1.01     1.74      4607.05
HP_NO_sideL35_CV    19988    NaN  NaN  ...   -3.65    -1.54  2.80225e+17
Z1_NO_sideR35_CV    19988    NaN  NaN  ...    3.74   8.0525  1.21199e+17
Pb_NO_sideR35_S     19988    NaN  NaN  ...    0.81     1.04         5.36
IP_NO_sideL35_SI71  19988    NaN  NaN  ...    0.55     0.59          0.7
Z1_NO_PRT_CV        19988    NaN  NaN  ...    4.35     9.57      21801.2
Z2_NO_AHR_CV        19988    NaN  NaN  ...   -2.19     5.08  9.20228e+15
Gs(U)_NO_ALR_SI71   19988    NaN  NaN  ...    0.51     0.54         0.87
Z3_NO_UCR_S         19988    NaN  NaN  ...    1.07     1.41         4.14
Z3_NO_UCR_N1        19988    NaN  NaN  ...    4.33     8.76        58.39
ECI_NO_UCR_CV       19988    NaN  NaN  ...    0.43     0.49         1.06
Pa_NO_BSR_SI71      19988    NaN  NaN  ...    0.53     0.58            1
ISA_NO_NPR_S        19988    NaN  NaN  ...   -0.71    -0.42         5.45
Z3_NO_NPR_V         19988    NaN  NaN  ...    1.09      1.4          3.1
IP_NO_PLR_S         19988    NaN  NaN  ...    0.55     0.72         2.67
Pb_NO_PCR_V         19988    NaN  NaN  ...    0.02     0.02         0.05
ECI_NO_PCR_CV       19988    NaN  NaN  ...     0.6     0.63         0.74
class               19988      2    N  ...     NaN      NaN          NaN

[30 rows x 11 columns]

In [5]:
#df_without_id = original_df.drop(['id'], 1)
df_without_id = original_df
#df_selected_features = original_df.drop(columns=['id', 'Z1_NO_sideL35_M','HP_NO_sideL35_CV','HP_NO_sideL35_CV','Z1_NO_sideR35_CV','Z1_NO_PRT_CV','Z2_NO_AHR_CV','Pa_NO_BSR_SI71','Pb_NO_PCR_V','ECI_NO_PCR_CV'])

In [7]:
#df_selected_features = df_selected_features.replace(['P', 'N'], [1, 0])
df_without_id=df_without_id.replace(['P', 'N'], [1, 0])

In [8]:
def detect_outlier_iterative_IQR(df, cutoff_ratio = 1.07):
    df_copy = df.copy()
    df_prev = pd.DataFrame({'' : []})
    n1 = 1.0
    while True:
        stat = df_copy.describe()
        df_prev = df_copy.copy()
        for column in df.iloc[:, :-1]:
            median, min25, max75 = stat[column]['50%'], stat[column]['25%'], stat[column]['75%']
            iqr = abs(max75-min25)*1.5
            upper_bound = median + iqr
            lower_bound = median - iqr
            df_copy[column] = df_copy[column].mask(df_copy[column] > upper_bound, np.nan)
            df_copy[column] = df_copy[column].mask(df_copy[column] < lower_bound, np.nan)
        n2 = df_copy.isnull().sum().sum()
        #print(df_copy)
        r = n2/n1
        n1 = n2*1.0
        if r < cutoff_ratio:
            break
    return df_prev

In [9]:
def handle_outlier(df):
    df_copy = df.copy() 
    df_copy = df_copy.dropna(thresh=4)
    df_copy.to_csv("df_nan.csv")
    stat = df_copy.describe()
    for column in df_copy.iloc[:, :-1]:
        median = stat[column]['50%']
        df_copy[column] = df_copy[column].fillna(median) 
    return df_copy

In [10]:
 #df_without_outliers = handle_outlier(detect_outlier_iterative_IQR(original_df))
 df_without_outliers = handle_outlier(detect_outlier_iterative_IQR(df_without_id))

In [11]:
df_without_outliers.shape

(5150, 29)

In [120]:
df_without_outliers.describe(include='all').T

                    count unique  top   freq  ...     25%     50%      75%    max
id                  14403    NaN  NaN    NaN  ...  4946.5    9968  14953.5  19987
IP_ES_25_N1         14403    NaN  NaN    NaN  ...    5.31    5.64     5.95   7.29
Z3_IB_4_N1          14403    NaN  NaN    NaN  ...    14.3   17.77    22.23   33.3
Z1_IB_10_N1         14403    NaN  NaN    NaN  ...    7.75    8.71     9.85   12.7
Z1_IB_5_N1          14403    NaN  NaN    NaN  ...    7.78    8.77     9.94  12.76
Z3_IB_8_N1          14403    NaN  NaN    NaN  ...   14.26   17.48     21.9   32.6
ECI_IB_4_N1         14403    NaN  NaN    NaN  ...   29.53  36.085    44.32  70.57
ECI_IB_5_N1         14403    NaN  NaN    NaN  ...   29.52   35.79    43.36  68.97
Gs(U)_IB_12_N1      14403    NaN  NaN    NaN  ...    0.04    0.05     0.06   0.08
Gs(U)_IB_68_N1      14403    NaN  NaN    NaN  ...    0.04    0.05     0.06   0.08
Gs(U)_IB_58_N1      14403    NaN  NaN    NaN  ...    0.04    0.05     0.06   0.08
Gs(U)_IB_60_N1      14403    NaN  NaN    NaN  ...    0.04    0.05     0.06   0.08
Z1_NO_sideL35_M     14403    NaN  NaN    NaN  ...    0.71    0.91     1.06   1.82
HP_NO_sideL35_CV    14403    NaN  NaN    NaN  ...   -4.16   -3.62    -3.15  -0.35
Z1_NO_sideR35_CV    14403    NaN  NaN    NaN  ...     3.7    4.02      4.4   9.31
Pb_NO_sideR35_S     14403    NaN  NaN    NaN  ...    0.62     0.8     0.98   1.39
IP_NO_sideL35_SI71  14403    NaN  NaN    NaN  ...    0.53    0.56     0.59   0.65
Z1_NO_PRT_CV        14403    NaN  NaN    NaN  ...    4.18    4.63     5.08   10.9
Z2_NO_AHR_CV        14403    NaN  NaN    NaN  ...    -4.4  -2.575     2.93  10.31
Gs(U)_NO_ALR_SI71   14403    NaN  NaN    NaN  ...     0.5    0.52     0.54   0.58
Z3_NO_UCR_S         14403    NaN  NaN    NaN  ...   -0.72    1.11     1.42   4.14
Z3_NO_UCR_N1        14403    NaN  NaN    NaN  ...    0.79    3.86     7.09  14.49
ECI_NO_UCR_CV       14403    NaN  NaN    NaN  ...     0.4    0.43     0.46   0.54
Pa_NO_BSR_SI71      14403    NaN  NaN    NaN  ...     0.5    0.53     0.56   0.64
ISA_NO_NPR_S        14403    NaN  NaN    NaN  ...   -0.96   -0.75    -0.54  -0.04
Z3_NO_NPR_V         14403    NaN  NaN    NaN  ...    0.82    1.09     1.37   1.96
IP_NO_PLR_S         14403    NaN  NaN    NaN  ...    0.39    0.54      0.7   1.04
Pb_NO_PCR_V         14403    NaN  NaN    NaN  ...    0.01    0.02     0.02   0.03
ECI_NO_PCR_CV       14403    NaN  NaN    NaN  ...    0.59    0.61     0.62   0.68
class               14403      2    N  13638  ...     NaN     NaN      NaN    NaN

[30 rows x 11 columns]

In [125]:
df_without_outliers

          id  IP_ES_25_N1  Z3_IB_4_N1  ...  Pb_NO_PCR_V  ECI_NO_PCR_CV  class
0          1         5.59       14.91  ...         0.02           0.59      P
1          2         4.81       16.87  ...         0.02           0.62      P
2          3         5.36       13.81  ...         0.01           0.56      P
3          4         6.10       17.98  ...         0.02           0.65      P
4          5         5.67       16.41  ...         0.01           0.65      P
...      ...          ...         ...  ...          ...            ...    ...
19983  19984         5.82       17.98  ...         0.01           0.55      N
19984  19985         4.62       20.30  ...         0.02           0.58      N
19985  19986         6.69       17.98  ...         0.01           0.57      N
19986  19987         5.67       11.67  ...         0.02           0.57      N
19987  19988         6.37       17.98  ...         0.01           0.61      N

[19988 rows x 30 columns]

In [126]:
def find_missing(lst):
    return [x for x in range(lst[0], lst[-1]+1) 
                               if x not in lst]

In [127]:
def save_removed_outlier(original_df):
    df_nan=pd.read_csv("df_nan.csv")
    df_nan.rename(columns={"Unnamed: 0": "ID"})
    cols_as_np = df_nan[df_nan.columns[0]].to_numpy()
    list_of_indexes=find_missing(cols_as_np)
    removed_rows = original_df.iloc[list_of_indexes, :]
    removed_rows.to_csv("outliers_removed.csv")

In [12]:
 df_without_outliers = df_without_outliers.replace(['P', 'N'], [1, 0])

TypeError: ignored

In [167]:
df_without_outliers.shape

(4996, 29)

In [13]:
def standardize(df):
    # Feature Scaling
    from sklearn.preprocessing import StandardScaler
    x = df.values
    sc = StandardScaler()
    x_scaled = sc.fit_transform(x)
    new_df = pd.DataFrame(x_scaled)
    new_df.columns = df.columns
    if new_df.columns[-1]=='class': #adjust class
        new_df.iloc[:,-1] = new_df.iloc[:,-1].mask(new_df.iloc[:,-1] > sc.mean_[-1], 1)
        new_df.iloc[:,-1] = new_df.iloc[:,-1].mask(new_df.iloc[:,-1] < sc.mean_[-1], 0)
    return new_df

In [14]:
#standardized_df = standardize(df_without_outliers)
standardized_df = standardize(df_without_outliers)

In [128]:
save_removed_outlier(original_df)

In [15]:
standardized_df["class"].replace({1.0: "P", 0.0: "?"}, inplace=True)

In [16]:
standardized_df.head

<bound method NDFrame.head of       IP_ES_25_N1  Z3_IB_4_N1  Z1_IB_10_N1  ...  Pb_NO_PCR_V  ECI_NO_PCR_CV  class
0       -0.628449   -0.180598    -1.676018  ...    -1.187437       0.144786      ?
1        0.005608   -0.141150    -0.364266  ...     0.804517       1.664191      ?
2       -1.135695    2.438355    -2.092112  ...    -1.187437      -1.374619      ?
3        0.005608   -0.509896    -0.089221  ...     0.804517       0.524637      ?
4       -0.343123   -0.772306    -0.935513  ...     0.804517      -0.614916      ?
...           ...         ...          ...  ...          ...            ...    ...
5145     0.005608   -0.230335    -0.089221  ...     0.804517      -2.134321      ?
5146     0.386042    1.325257     1.596311  ...     0.804517       0.144786      ?
5147     0.005608   -0.262922     0.940434  ...     0.804517       0.904488      ?
5148     0.005608   -1.231952     0.284558  ...    -1.187437       0.524637      ?
5149     0.005608    1.568801     2.414393  ...     0.804517       0.904488      ?

[5150 rows x 29 columns]>

In [17]:
#standardized_df.to_csv('Standardized_train.csv',index=False)
#df_without_outliers.to_csv('Standardized_train_no_removed.csv',index=False)
#standardized_df.to_csv('Standardized_val.csv',index=False)
standardized_df.to_csv('Standardized_blind.csv',index=False)